<?php use Helper\Html ?>
<!DOCTYPE html>
<html>
<head>
    <meta charset="<?=Html::getEncoding()?>">
    <title>管理后台 - <?=Html::encode($_curr_resource_['resource_name'])?></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/components/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/sb-admin-2.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/admin/layout.css" rel="stylesheet">
    <script src="/components/require.js"></script>
    <script src="/components/jquery/jquery-3.1.0.min.js"></script>
    <script src="/js/config.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/sb-admin-2.js"></script>
</head>
<body class="hidden">
<div id="wrapper">

    <!-- Navigation -->
    <nav id="navbar" class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/admin/index">管理后台</a>
        </div>
        <a class="navbar-brand" href="javascript:;" @click="menuSwitch"><i
                class="fa {{miniMenu ? 'fa-indent' : 'fa-dedent'}}"></i></a>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/admin/user/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <!-- menu -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse" :class="{'nav-mini':miniMenu}">
                <ul id="side-menu" class="nav metismenu" v-cloak>
                    <template v-for="item in menuList">
                        <li @mouseenter="miniMenu && item.menu_list && showChildrenMenu($event, item)"
                            @mouseleave="miniMenu && item.menu_list && hideChildrenMenu($event, item)">
                            <a href="{{item.resource_uri}}">
                                <i v-if="item.menu_icon_class !== ''" class="{{item.menu_icon_class}} fa-fw"></i>
                                <span class="title">
                                    {{item.resource_name}}
                                </span>
                                <span v-if="item.menu_list && !miniMenu" class="fa arrow"></span>
                            </a>
                            <ul v-if="item.menu_list" class="nav nav-second-level collapse">
                                <template v-for="item2 in item.menu_list">
                                    <li>
                                        <a href="{{item2.resource_uri}}">
                                            <i v-if="item2.menu_icon_class" class="{{item2.menu_icon_class}} fa-fw"></i>
                                            {{item2.resource_name}}
                                        </a>
                                    </li>
                                </template>
                            </ul>
                        </li>
                    </template>
                    <!--<pre style="width: 500px;">{{$data|json}}</pre>-->
                </ul>
            </div>
            <script>
                require(['jquery', 'vue', 'cookie', 'metisMenu', 'bootstrap'], function ($, Vue, Cookie) {
                    new Vue({
                        el: "#navbar",
                        data: {
                            miniMenu: parseInt(Cookie.get("mini-menu")),
                            menuList: $.parseJSON('<?=json_encode($menu_list)?>')
                        },
                        methods: {
                            menuSwitch: function () {
                                this.$data.miniMenu = this.$data.miniMenu ? 0 : 1;
                                if (this.$data.miniMenu) {
                                    $("#side-menu > li").each(function () {
                                        if ($(this).children("ul").is(":visible")) {
                                            if ($(this).children("ul").hasClass("collapsing")) {
                                                $(this).children("ul").trigger("mmTransitionEnd");
                                            }
                                            $(this).children('a').click();
                                        }
                                    });
                                }
                                Cookie.set("mini-menu", this.$data.miniMenu);
                                $('body').toggleClass("mini-menu");
                            },
                            showChildrenMenu: function (e) {
                                var $this = $(e.target);
                                if (!$this.children("ul").is(":visible")) {
                                    if ($this.children("ul").hasClass("collapsing")) {
                                        $this.children("ul").trigger("mmTransitionEnd");
                                    }
                                    $this.children('a').click();
                                }
                            },
                            hideChildrenMenu: function (e) {
                                var $this = $(e.target);
                                if ($this.children("ul").is(":visible")) {
                                    if ($this.children("ul").hasClass("collapsing")) {
                                        $this.children("ul").trigger("mmTransitionEnd");
                                    }
                                    $this.children('a').click();
                                }
                            }
                        },
                        ready: function () {
                            $('#side-menu').metisMenu();
                            var url = window.location.href;
                            var element = $('ul.nav a').filter(function () {
                                return this.href === url || url.indexOf(this.href) === 0;
                            }).addClass('active').closest('.nav').addClass('in').parent();
                            if (element.is('li')) {
                                element.addClass('active');
                            }

                            if (this.$data.miniMenu) {
                                $('body').addClass("mini-menu");
                            }
                            $("body").removeClass("hidden");
                        }
                    });
                });
            </script>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <div class="x-page-header"><?=Html::encode($_curr_resource_['resource_name'])?></div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- Page Content -->
        <?php echo $_content_;?>
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
</body>
</html>
