footer {
    font-size: 70%;
}

/* .x-fixed-msg */
.x-fixed-msg {
    position: fixed;
    display: inline-block;
    bottom: -99999px;
    left: -99999px;
    z-index: 9999998;
    zoom: 1;
    _position: absolute;
}

.x-fixed-msg-inner {
    position: relative;
    overflow: auto;
    font-size: 12px;
    line-height: 40px;
    background: #EEE url(../images/fixed-msg-bg.png) repeat-x;
    border: 1px solid #CCC;
    border-radius: 3px;
    box-shadow: 0 0 7px #aaa;
}

.x-fixed-msg-inner .p {
    padding: 0 14px 0 54px;
    color: #333;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    background: url(../images/fixed-msg-bg.png) no-repeat;
}

.x-fixed-msg-close-btn {
    display: block;
    position: absolute;
    top: 2px;
    right: 2px;
    width: 10px;
    height: 10px;
    background: url(../images/fixed-msg-bg.png) -10px -571px;
    text-indent: -99999px;
    z-index: 9999999;
}

.x-fixed-msg-close-btn:hover {
    background-position: -30px -571px;
}

.x-fixed-msg-success .x-fixed-msg-inner {
    border-color: #91A83A;
    background-position: 0 0;
}

.x-fixed-msg-success .p {
    background-position: -3px -400px;
}

.x-fixed-msg-error .x-fixed-msg-inner {
    border-color: #CD786C;
    background-position: 0 -100px;
}

.x-fixed-msg-error .p {
    background-position: -3px -440px;
}

.x-fixed-msg-warning .x-fixed-msg-inner {
    border-color: #E19C47;
    background-position: 0 -200px;
}

.x-fixed-msg-warning .p {
    background-position: -3px -480px;
}

.x-fixed-msg-info .x-fixed-msg-inner {
    border-color: #679AEA;
    background-position: 0 -300px;
}

.x-fixed-msg-info .p {
    background-position: -3px -520px;
}

.x-fixed-msg-box .x-fixed-msg-inner {
    border-color: #666;
    background: #E6E6E6;
}

.x-fixed-msg-box .p {
    padding-left: 14px;
    background: none;
    line-height: 30px;
    text-align: center;
}

.x-fixed-msg-box .p .t {
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.x-fixed-msg-box .p .t div {
    display: inline-block;
    padding-left: 40px;
    background: url(../images/fixed-msg-bg.png) -18px -400px no-repeat;
}

.x-fixed-msg-box .p .t-success div {
    background-position: -18px -400px;
}

.x-fixed-msg-box .p .t-error div {
    background-position: -18px -440px;
}

.x-fixed-msg-box .p .t-warning div {
    background-position: -18px -480px;
}

.x-fixed-msg-box .p .t-info div {
    background-position: -18px -520px;
}

.x-fixed-msg-box .p .c {
    padding: 6px 0;
    border-top: 1px solid #CCC;
}

[v-cloak] {
    display: none;
}