<div class="row">
    <div class="col-sm-12">
        <form id="user_form" method="post" class="form-horizontal" role="form" action="{{requestUri}}" v-cloak>
            <div class="form-group required">
                <label class="control-label col-sm-3">用户名</label>
                <div class="col-sm-8">
                    <input type="text" name="username" class="form-control input-sm" placeholder="用户名"
                           v-model="username"
                           data-bv-notempty="true"

                           data-bv-stringlength="true"
                           data-bv-stringlength-max="30"
                    />
                </div>
            </div>
            <div class="form-group required">
                <label class="control-label col-sm-3">密码</label>
                <div class="col-sm-8">
                    <input type="password" name="password" class="form-control input-sm" placeholder="密码"
                           v-model="password"
                           data-bv-notempty="true"

                           data-bv-stringlength="true"
                           data-bv-stringlength-min="8"
                           data-bv-stringlength-max="30"
                    />
                </div>
            </div>
            <div class="form-group required">
                <label class="control-label col-sm-3">确认密码</label>
                <div class="col-sm-8">
                    <input type="password" name="confirm_password" class="form-control input-sm" placeholder="确认密码"
                           data-bv-notempty="true"

                           data-bv-identical="true"
                           data-bv-identical-field="password"
                           data-bv-identical-message="密码输入不一致"
                    />
                </div>
            </div>
            <div class="form-group required">
                <label class="control-label col-sm-3">角色</label>
                <div class="col-sm-8">
                    <select name="role_id" class="form-control input-sm"
                            data-bv-notempty="true"

                            data-bv-greaterthan="true"
                            data-bv-greaterthan-value="0"
                            data-bv-greaterthan-inclusive="false"
                            data-bv-greaterthan-message="请选择角色"
                    >
                        <option selected value="0">无</option>
                        <option v-for="role in roleList" value="{{role.role_id}}">{{role.role_name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">昵称</label>
                <div class="col-sm-8">
                    <input type="text" name="nickname" class="form-control input-sm" placeholder="昵称"
                           data-bv-stringlength="true"
                           data-bv-stringlength-max="30"
                    />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">是否启用</label>
                <div class="col-sm-8">
                    <div class="radio-inline">
                        <label><input type="radio" name="enable" value="<?=YES?>" checked> <?=YES?></label>
                    </div>
                    <div class="radio-inline">
                        <label><input type="radio" name="enable" value="<?=NO?>"> <?=NO?></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">管理员</label>
                <div class="col-sm-8">
                    <div class="radio-inline">
                        <label><input type="radio" name="admin" value="<?=YES?>"> <?=YES?></label>
                    </div>
                    <div class="radio-inline">
                        <label><input type="radio" name="admin" value="<?=NO?>" checked> <?=NO?></label>
                    </div>
                </div>
            </div>
            <div id="alert_message" class="hidden">
                <dl>
                    <dt>用户名</dt>
                    <dd>
                        <span class="text text-primary">{{username}}</span>
                    </dd>
                    <dt>密码</dt>
                    <dd>
                        <span class="text text-danger">{{password}}</span>
                    </dd>
                </dl>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    require(["jquery", "vue", "bs-dialog", "toastr", "bs-validator"], function ($, Vue, BootstrapDialog, toastr) {
        $(function () {
            var userForm = new Vue({
                el: '#user_form',
                data: {
                    username: '',
                    password: '',
                    requestUri: '<?=$request_uri?>',
                    roleList: eval('(<?=json_encode($role_list)?>)')
                }
            });


            $("#user_form").bootstrapValidator().on('success.form.bv', function (e) {
                // Prevent form submission
                e.preventDefault();
                // Get the form instance
                var $form = $(e.target);

                $.post($form.attr('action'), $form.serialize(), function (result) {
                    if (result.code !== 0) {
                        toastr.error(result.message);
                        return;
                    }
                    BootstrapDialog.closestDialog($form).close();
                    $("#list_table").trigger('pg-init');
                    toastr.success(result.message);
                    BootstrapDialog.alert({
                        type: BootstrapDialog.TYPE_SUCCESS,
                        size: BootstrapDialog.SIZE_SMALL,
                        title: '新增用户成功',
                        message: $("<div/>").append($("#alert_message").html())
                    });
                }, 'json');
                return false;
            });
        });
    });
</script>
