<div class="row">
    <div class="col-sm-12">
        <form id="role_form" method="post" class="form-horizontal" role="form" action="{{requestUri}}">
            <div class="form-group">
                <label class="control-label col-sm-3">角色名称</label>
                <div class="col-sm-8">
                    <input type="text" name="role_name" class="form-control input-sm" placeholder="角色名称" v-model="roleInfo.role_name"
                           data-bv-notempty="true"

                           data-bv-stringlength="true"
                           data-bv-stringlength-max="30"
                    />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">角色Key</label>
                <div class="col-sm-8">
                    <input type="text" name="role_key" class="form-control input-sm" placeholder="角色Key" v-model="roleInfo.role_key"
                           data-bv-notempty="true"

                           data-bv-stringlength="true"
                           data-bv-stringlength-max="30"
                    />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">是否启用</label>
                <div class="col-sm-8">
                    <div class="radio-inline">
                        <label><input type="radio" name="enable" value="<?=YES?>" v-model="roleInfo.enable"> <?=YES?></label>
                    </div>
                    <div class="radio-inline">
                        <label><input type="radio" name="enable" value="<?=NO?>" v-model="roleInfo.enable"> <?=NO?></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">备注</label>
                <div class="col-sm-8">
                    <textarea name="remark" class="form-control" rows="5" v-model="roleInfo.remark"
                              data-bv-stringlength="true"
                              data-bv-stringlength-max="200"
                    ></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5 col-md-offset-3">
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(function () {

        var roleForm = new Vue({
            el: '#role_form',
            data: {
                requestUri: '<?=$request_uri?>',
                roleInfo: eval('(<?=json_encode($role_info)?>)')
            }
        });


        $("#role_form").bootstrapValidator().on('success.form.bv', function (e) {
            // Prevent form submission
            e.preventDefault();
            // Get the form instance
            var $form = $(e.target);

            $.post($form.attr('action'), $form.serialize(), function (result) {
                if (result.code !== 0) {
                    toast(result.message, 'error');
                    return;
                }
                BootstrapDialog.closeAll();
                toast(result.message, 'success');
            }, 'json');
            return false;
        });
    });
</script>
