<div class="row">
    <div class="col-sm-12">
        <form id="resource_form" method="post" class="form-horizontal" role="form" action="{{requestUri}}" v-cloak>
            <div class="form-group">
                <label class="control-label col-sm-3">上级资源</label>
                <div class="col-sm-8">
                    <select name="resource_pid" class="form-control input-sm">
                        <option selected value="0">无</option>
                        <option v-for="resource in resourceList" value="{{resource.resource_id}}">
                            {{resource.resource_name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group required">
                <label class="control-label col-sm-3">资源名称</label>
                <div class="col-sm-8">
                    <input type="text" name="resource_name" class="form-control input-sm" placeholder="资源名称"
                           data-bv-notempty="true"

                           data-bv-stringlength="true"
                           data-bv-stringlength-max="10"
                    />
                </div>
            </div>
            <div class="form-group required">
                <label class="control-label col-sm-3">资源类型</label>
                <div class="col-sm-8">
                    <select name="resource_type" class="form-control input-sm" v-model="selectType"
                            data-bv-notempty="true"
                    >
                        <option value="" disabled selected class="hidden">请选择</option>
                        <option v-for="type in typeList" value="{{type}}">{{type}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group required" v-show="selectType === 'menu'">
                <label class="control-label col-sm-3">菜单排序</label>
                <div class="col-sm-8">
                    <input type="number" name="menu_sort" class="form-control input-sm" value="0"
                           data-bv-notempty="true"
                    />
                </div>
            </div>
            <div class="form-group" v-show="selectType === 'menu'">
                <label class="control-label col-sm-3">菜单图标样式</label>
                <div class="col-sm-8">
                    <input type="text" name="menu_icon_class" class="form-control input-sm" value=""
                           placeholder="fa fa-home"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">URI</label>
                <div class="col-sm-8">
                    <input type="text" name="resource_uri" class="form-control input-sm" placeholder="/admin/resource">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">是否启用</label>
                <div class="col-sm-8">
                    <div class="radio-inline">
                        <label><input type="radio" name="enable" value="<?=YES?>" checked> <?=YES?></label>
                    </div>
                    <div class="radio-inline">
                        <label><input type="radio" name="enable" value="<?=NO?>"> <?=NO?></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">需要登录</label>
                <div class="col-sm-8">
                    <div class="radio-inline">
                        <label><input type="radio" name="login" value="<?=YES?>" checked> <?=YES?></label>
                    </div>
                    <div class="radio-inline">
                        <label><input type="radio" name="login" value="<?=NO?>"> <?=NO?></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">开放资源</label>
                <div class="col-sm-8">
                    <div class="radio-inline">
                        <label><input type="radio" name="public" value="<?=YES?>"> <?=YES?></label>
                    </div>
                    <div class="radio-inline">
                        <label><input type="radio" name="public" value="<?=NO?>" checked> <?=NO?></label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(function () {

        var resourceForm = new Vue({
            el: '#resource_form',
            data: {
                selectType: '',
                requestUri: '<?=$request_uri?>',
                resourceList: eval('(<?=json_encode($resource_list)?>)'),
                typeList: eval('(<?=json_encode(ResourceModel::TYPE_LIST)?>)')
            }
        });


        $("#resource_form").bootstrapValidator().on('success.form.bv', function (e) {
            // Prevent form submission
            e.preventDefault();
            // Get the form instance
            var $form = $(e.target);

            $.post($form.attr('action'), $form.serialize(), function (result) {
                if (result.code !== 0) {
                    toast(result.message, 'error');
                    return;
                }
                BootstrapDialog.closestDialog($form).close();
                toast(result.message, 'success', function () {
                    $("#list_table").trigger('initTableData');
                });
            }, 'json');
            return false;
        });
    });
</script>
